<section aria-label="E-Resources quick navigation" class="e-resource-subnav-section">
  <div class="container e-resource-subnav">
    <a class="{{ if eq .RelPermalink "/e-resources/" }}is-active{{ end }}" href="/e-resources/">Overview</a>
    <a class="{{ if eq .RelPermalink "/e-journals/" }}is-active{{ end }}" href="/e-journals/">E-Journals</a>
    <a class="{{ if eq .RelPermalink "/open-e-resources/" }}is-active{{ end }}" href="/open-e-resources/">Open E-resources</a>
    <a class="{{ if eq .RelPermalink "/subscribed-e-resources/" }}is-active{{ end }}" href="/subscribed-e-resources/">Subscribed E-resources</a>
    <a class="{{ if eq .RelPermalink "/e-resources-search-engine/" }}is-active{{ end }}" href="/e-resources-search-engine/">Search Engine</a>
  </div>
</section>
